---
const { bg, title, desc, btn1, btn2, gradient } = Astro.props;
---

<div
  class={`${bg}  h-full w-full bg-no-repeat lg:bg-cover xl:bg-contain 2xl:bg-cover bg-right  `}
>
  <div
    class={`${gradient} angled-div h-full max-w-[490px] lg:max-w-[580px] xl:max-w-[885px] 2xl:max-w-[1054px]`}
  >
    <div
      class="2xl:pl-[79px] 2xl:pr-[80px] xl:px-[32px] 2xl:pt-[70px] xl:pt-[94px] lg:px-[30px] lg:pt-[80px] pt-[50px] px-[20px]"
    >
      <p
        class="text-white text-[23px] lg:text-[23px] xl:text-[38px] 2xl:text-[46px] font-semibold max-w-[810px]"
      >
        {title}
      </p>
      <p
        class="font-light metropolis-font text-[14px] py-[30px] max-w-[350px] lg:text-[15px] xl:text-[17px] lg:pt-[25px] lg:pb-[40px] xl:pt-[32px] xl:pb-[52px] 2xl:text-[20px] 2xl:pb-[56px] 2xl:pt-[38px] lg:max-w-[440px] xl:max-w-[655px] 2xl:max-w-[750px] text-white"
      >
        {desc}
      </p>
      <div
        class="flex gap-[20px] lg:px-[20px] xl:px-0 2xl:pl-0 xl:pb-[120px] 2xl:pb-0"
      >
        <button
          class="2xl:pl-[57px] text-center xl:px-[60px] 2xl:pr-[53px] 2xl:py-[9px] lg:px-[20px] lg:py-[7px] border border-white bg-white parallelogram hover:bg-transparent group relative inline-flex items-center justify-start overflow-hidden"
        >
          <span
            class="w-full h-48 rounded bg-white absolute bottom-[-40px] right-0 translate-x-full ease-out duration-700 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
          ></span>
          <span
            class="2xl:text-[22px] text-[14px] px-5 py-[4px] metropolis-font xl:text-[18px] lg:text-[14px] text-[#309BD6] skew-fix uppercase group-hover:text-[#309BD6] transition-colors duration-700 ease-in-out"
            >{btn1}</span
          >
        </button>

        <button
          class="2xl:pl-[57px] text-center xl:px-[60px] 2xl:pr-[53px] 2xl:py-[9px] lg:px-[20px] lg:py-[7px] border border-white bg-whi parallelogram hover:bg-white group relative inline-flex items-center justify-start overflow-hidden"
        >
          <span
            class="w-full h-48 rounded bg-[#25a192] absolute bottom-[-40px] left-0 translate-x-full ease-out duration-500 transition-all translate-y-full mb-9 ml-9 group-hover:ml-0 group-hover:mb-32 group-hover:translate-x-0"
          ></span>
          <span
            class="2xl:text-[22px] text-[14px] px-5 py-[4px] metropolis-font xl:text-[18px] lg:text-[16px] text-white skew-fix uppercase group-hover:text-white transition-colors duration-700 ease-in-out"
            >{btn2}</span
          >
        </button>
      </div>
    </div>
  </div>
</div>

<!-- bg-[url('/assets/img/png/meica-hero.png')] -->
